html {
    font-family: Letter Gothic;
}
div.container-fluid{
    padding: 0px;
}

.top {
    padding-right:20px;
}
p {
    font-family: Letter Gothic;
    font-size: 13px;
    line-height: 15px;
    text-align: justify;
    text-align-last:center;
    padding:5px;   
}
img {
    max-width: 100%;
    min-height:100%;
    display: block;
    object-fit: cover;
}
.banner-top {
    border-radius: 0 0 0 10px;
    transform: rotateY(180deg);
    
}
.site-title {
    text-align:center;
    margin-top: 30px;
    margin-bottom:20px;
    color:#77B800;
    font-family:Letter Gothic;
    font-size:24px;   
}

.col-2 {
    height: 200px;
    padding: 0;
    margin: 0;
}

.middle {
    margin:30px;
    text-align:center;
}
.getReady {
    color: #6083CD;
    font-family:Letter Gothic;
    Font-size:18px;
}
.explore {
    color:#77B800;
    font-family:Letter Gothic;
    font-size:16px;
    margin-bottom:20px;
}

.FirstBtns {
    margin-top:20px;
}

button.BtnSuburbs {
    background-image: url(../images/worms-eyeview-of-green-trees-957024.jpg);
    background-size: cover;
    width: 90px;
    height:90px;
    border-radius:5px;
    border: 3px solid #6083CD;
    display: inline-block;
    text-align:center;
    font-size:10px;
    line-height:10px;
    font-family:arial;
    color:rgba(0, 0, 0, 0);
}
button.BtnCity {
    background-image: url(../images/bakery-1868925_1920.jpg);
    background-size: cover;
    width: 90px;
    height:90px;
    border-radius:5px;
    border: 3px solid #6083CD;
    display: inline-block;
    text-align:center;
    font-size:10px;
    line-height:10px;
    font-family:arial;
    color:rgba(0, 0, 0, 0);
}

.bottom {
    margin-top:30px;
    left:0;
    padding-left: 20px;

}
strong {
    color: #6083CD;;
}
.social {
    color:#77B800;
    text-align:center;
    font-size:14px;
}
.fa {
    color: #77B800;
}

.banner-bottom {
    border-radius: 10px 0 0 0;
}
footer {
    font-size:8px;
    margin-top:30px;
    padding:5px;
}
.suburb_first {
    width:350px;
    position:center;
    margin-top: 25px;
    margin-right: auto;
    margin-bottom: 25px;
    margin-left: auto;
}
.test1{
    width: 100px;
    height:100px;
    border-radius:5px;
    border: 3px solid #6083CD;
    display: inline-block;
    text-align:center;
    font-size:10px;
    line-height:10px;
    font:arial;
    color:rgba(0, 0, 0, 0);
    margin:5px;
}
.horsies {
    background-image: url(../images/horse-2649609_1920.jpg);
    background-size: cover;
}
.hiking {
    background-image: url(../images/forest-4901664_1280.jpg);
    background-size: cover;
}
.mansion {
    background-image: url(../images/furniture-2436907_640.jpg);
    background-size: cover;
}
.cricket {
    background-image: url(../images/grass-2616911_640.jpg);
    background-size: cover;
}

.moikka {
    color: #6083CD;
    font-size: 20px;
    text-align: center;
}
.foodie {
    background-image: url(../images/appetizer-1386743_1280.jpg);
    background-size: cover;
}
.story {
    background-image: url(../images/library-4556542_1280.jpg);
    background-size: cover;
}
.cafe {
    background-image: url(../images/coffee-2319122_1280.jpg);
    background-size: cover;
}
.shop {
    background-image: url(../images/woman-standing-374679.jpg);
    background-size: cover;
}
.subheader {
    padding: 15px;
}