/* General site style */

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul,
menu,
dir {
  padding-inline-start: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  margin: 0;
  height: auto;
  min-height: 100%;
  border: #6083cd;
  border-style: groove;
  border-width: 10px;
}

.container-fluid {
  padding: 0px;
  margin: 0px;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 3vmin;
  text-align: justify;
  text-align-last: center;
  padding: 0;
  color: #2f4f4f;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.col-2 {
  padding: 0;
  margin: 0;
}

strong {
  color: #6083cd;
}

/* Span class to hide text on small and medium devices */

.hidden {
  display: none;
}

/* Top section style */

.top {
  padding-right: 20px;
  margin-bottom: 3vmin;
}

.top-text {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.banner-top {
  background-image: url(../images/rock-1533826_640_1.jpg);
  background-size: cover;
  display: block;
  border-radius: 0 0 0 10px;
  transform: rotateY(180deg);
  height: 24vh;
  position: inherit;
}

h1 {
  text-shadow: 2px 2px #6083cd;
}

.site-title {
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 2vh;
  color: #77b800;
  font-size: 5vmin;
}

/* Text setting for on hover show text*/

.show-text {
  background-color: #6083cd;
  color: #fafafa;
  display: inline;
  padding: 0;
}

/* Middle section style */

.col-10.game {
  margin: 0;
  padding: 1vmin;
}

.get-started {
  margin-bottom: 2vh;
}

.middle {
  text-align: center;
  margin: auto 2vmin;
  height: auto;
}

.lets-play {
  color: #6083cd;
  font-size: 4vmin;
  margin-bottom: 1.5vh;
  margin-top: 2vh;
}

.get-ready {
  color: #77b800;
  font-size: 3vmin;
  margin-bottom: 2vmin;
}

.explore {
  color: #2f4f4f;
  font-size: 3vmin;
  margin-bottom: 0;
}

.game-border {
  border-style: double;
  border-color: #77b800;
  margin: 1vmin;
}

.initial-btns {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

/* Button styles for intial page */

button.btn-suburbs {
  background-image: url(../images/worms-eyeview-of-green-trees-957024.jpg);
  background-size: cover;
  width: 22vmin;
  height: 22vmin;
  border-radius: 5px;
  border: 3px solid #6083cd;
  display: inline-block;
  color: rgba(0, 0, 0, 0);
}

button.btn-city {
  background-image: url(../images/bakery-1868925_1920.jpg);
  background-size: cover;
  width: 22vmin;
  height: 22vmin;
  border-radius: 5px;
  border: 3px solid #6083cd;
  display: inline-block;
  color: rgba(0, 0, 0, 0);
}

/* Bottom section style */

.bottom {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  margin-top: 5vmin;
  padding-left: 5vmin;
}

.bottom-text {
  justify-content: center;
  align-items: end;
  display: grid;
  height: 6vh;
}

.social {
  color: #77b800;
  text-align: center;
  font-size: 3vmin;
}

.fa {
  color: #77b800;
}

.banner-bottom {
  background-image: url(../images/rock-1533826_640_1.jpg);
  background-size: cover;
  display: block;
  border-radius: 10px 0 0 0;
  height: 24vh;
  width: auto;
  position: inherit;
}

/* General button styles for challenge buttons */

.map-btns {
  width: 20vmin;
  height: 20vmin;
  border-radius: 5px;
  border: 3px solid #6083cd;
  display: inline-block;
  color: rgba(0, 0, 0, 0);
  margin-top: 1vmin;
  margin-right: 2vmin;
  margin-bottom: 1vmin;
  margin-left: 2vmin;
}

/* Define images for all challenge buttons*/

.stables {
  background-image: url(../images/horse-2649609_1920.jpg);
  background-size: cover;
}

.nature {
  background-image: url(../images/forest-4901664_1280.jpg);
  background-size: cover;
}

.manor {
  background-image: url(../images/furniture-2436907_640.jpg);
  background-size: cover;
}

.cricket {
  background-image: url(../images/grass-2616911_640.jpg);
  background-size: cover;
}

.grocery {
  background-image: url(../images/appetizer-1386743_1280.jpg);
  background-size: cover;
}

.library {
  background-image: url(../images/library-4556542_1280.jpg);
  background-size: cover;
}

.cafe {
  background-image: url(../images/coffee-2319122_1280.jpg);
  background-size: cover;
}

.thrift {
  background-image: url(../images/woman-standing-374679.jpg);
  background-size: cover;
}

#map {
  height: 17vh;
  margin-top: 2vh;
  border: 1vmin solid #6083cd;
}

.hide {
  display: none;
}

.hyperlink {
  color: #6083cd;
}

/* final page specific layout */

.banner-top-final {
  background-image: url(../images/rock-1533826_640_1.jpg);
  background-size: cover;
  display: block;
  border-radius: 0 0 0 10px;
  transform: rotateY(180deg);
  height: 24vh;
  position: inherit;
}

.top-final {
  padding-right: 20px;
  margin-bottom: 1vh;
}

.game-final {
  border-style: double;
  border-color: #77b800;
  padding: 2vmin;
}

.lets-play-final {
  color: #6083cd;
  font-size: 4vmin;
  margin-bottom: 2vh;
  margin-top: 1vh;
}

.map {
  height: 17vh;
  margin-top: 2vh;
  border: 1vmin solid #6083cd;
  width: 100%;
}

.bottom-text-final {
  justify-content: center;
  align-items: end;
  display: grid;
  height: 6vh;
  bottom: 0;
  position: relative;
}

.banner-bottom-final {
  background-image: url(../images/rock-1533826_640_1.jpg);
  background-size: cover;
  display: block;
  border-radius: 10px 0 0 0;
  height: 24vh;
  width: auto;
  position: inherit;
}

/* Media queries */

/* MQ extra small mobile vertical */

@media only screen and (max-height: 530px) {
  .game {
    margin-bottom: 2vmin;
  }
  .lets-play {
    margin-top: 4vh;
  }

  .initial-btns {
    margin-bottom: 4vh;
  }

  .bottom {
    margin-top: 2vh;
    position: relative;
  }
}
/* MQ mobile horizontal screen width 550px to 767px */

@media only screen and (min-width: 550px) and (max-width: 767px) {
  .top {
    padding-right: 2vw;
    margin-bottom: 0;
  }
  .banner-top {
    width: auto;
    height: 26vh;
  }
  .site-title {
    margin-bottom: 3vh;
  }
  .top-text {
    margin-left: 3vmin;
    padding-bottom: 0;
  }
  .game {
    padding: 0;
    border: none;
  }
  .get-ready {
    margin-bottom: 0vmin;
  }
  button.btn-suburbs {
    width: 15vmin;
    height: 15vmin;
  }
  button.btn-city {
    width: 15vmin;
    height: 15vmin;
  }
  .lets-play {
    font-size: 3vmin;
    margin-top: 1vh;
  }
  .lets-play-final {
    font-size: 3.5vmin;
  }
  .bottom {
    margin-left: 0;
  }
  .bottom-text {
    padding-bottom: 1vh;
    height: 6.5vh;
    padding-top: 1vh;
  }
  .bottom-text-final {
    height: 7.6vh;
  }
  .mobile-hidden {
    display: none;
  }
  .banner-bottom {
    position: initial;
    bottom: 0;
    height: 26vh;
  }
}

/* MQ larger mobile horizontal screen width over 767px */

@media only screen and (min-width: 768px) and (max-height: 499px) {
  .top {
    margin-bottom: 0;
  }
  .banner-top {
    height: 27vh;
  }
  .get-started {
    margin-bottom: 0;
  }
  .lets-play {
    margin-top: 1.5vh;
  }
  button.btn-suburbs {
    width: 15vmin;
    height: 15vmin;
  }
  button.btn-city {
    width: 15vmin;
    height: 15vmin;
  }
  .banner-bottom {
    height: 27vh;
  }
  .bottom-text {
    height: 9vh;
  }
  .map-btns {
    margin-bottom: 2vmin;
  }
}

/* MQ tablets and small laptops */

@media only screen and (min-width: 768px) and (min-height: 500px) {
  .hidden {
    display: initial;
  }
  p {
    font-size: 1.8vmin;
    line-height: 3vh;
  }
  .top {
    margin-bottom: 2vmin;
    padding-right: 0;
  }
  .top-final {
    margin-bottom: 2vh;
  }
  .banner-top {
    width: initial;
    height: 26vh;
  }
  .banner-top-final {
    height: 24vh;
  }
  .top-text {
    padding-right: 2vw;
    padding-left: 2vw;
    padding-bottom: 0;
  }
  .site-title {
    margin-bottom: 2.5vh;
    font-size: 5vmin;
  }
  .explore {
    font-size: 2vmin;
    margin-top: 1vh;
  }
  .middle {
    margin: 0;
  }
  .lets-play {
    font-size: 3vmin;
    margin-top: 2vh;
  }
  .lets-play-final {
    font-size: 3vmin;
  }
  .get-ready {
    margin-bottom: 1vmin;
    font-size: 2vmin;
  }
  .game {
    border-style: double;
    border-color: #6083cd;
    padding: 1.5vmin;
  }
  .initial-btns {
    margin-bottom: 2vh;
  }
  button.btn-suburbs {
    width: 15vmin;
    height: 15vmin;
  }
  button.btn-city {
    width: 15vmin;
    height: 15vmin;
  }
  .bottom {
    padding-left: 0;
    bottom: 0;
    position: absolute;
  }
  .banner-bottom {
    width: initial;
    height: 26vh;
  }
  .banner-bottom-final {
    height: 26vh;
  }
  .bottom-text {
    display: flex;
    height: 6.5vh;
    padding-bottom: 0;
    padding-right: 2vw;
    padding-left: 2vw;
  }
  .bottom-text-final {
    margin-right: 2vw;
    height: 6vh;
    margin-top: 0;
  }
  .social {
    font-size: 2.5vmin;
  }
  .map-btns {
    width: 14vmin;
    height: 14vmin;
    margin-bottom: 2vmin;
    margin-left: 0.5vmin;
    margin-right: 0.5vmin;
  }
  #map {
    height: 20vh;
  }
  .map {
    height: 22vh;
  }
}

/* MQ laptops and monitors*/

@media only screen and (min-width: 1200px) {
  .top {
    padding-right: 0;
    margin-bottom: 3vmin;
  }
  .top-text {
    padding-left: 1vw;
    padding-bottom: 0;
  }
  .site-title {
    margin-bottom: 2vh;
  }
  p {
    font-size: 2vmin;
    line-height: 3.5vh;
  }
  .get-ready {
    font-size: 2vmin;
  }
  .explore {
    font-size: 2vmin;
    margin-bottom: 3vmin;
  }
  .get-started {
    margin-bottom: 0;
  }
  .game {
    border: double;
    padding: 2vmin;
    color: #6083cd;
  }
  button.btn-city {
    width: 14vmin;
    height: 14vmin;
  }
  button.btn-suburbs {
    width: 14vmin;
    height: 14vmin;
  }
  .bottom {
    margin-top: 3vh;
    padding-left: 0;
  }
  .social {
    font-size: 2vmin;
  }
  .bottom-text {
    padding-right: 1vw;
    padding-left: 1vw;
  }
}
